<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>TrumpIt</title>
 
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
 
</head>
 
<body>


    <div class="video">
        <video width="1280" height="720" controls>
            <source src='/static/output.mp4' type="video/mp4"> 
        </video>
    </div>


 
  
        <!-- <div class="header">
            <h3 class="text-muted">Hack The Burgh 2017</h3>
        </div> -->   
        <div class="container">
            <p class="lead"></p>
            <div class="form-group">
            <form action="/trumpit/" method="POST">
                <label for="usr">We have the best words, folks:</label>
                <input type="text" name="trumpit" id="trumpit" class="form-control" placeholder="Enter your text here:" required autofocus>
            </div>
            <p><a name="backbutton" class="btn btn-lg btn-success" href="" type="submit" value="Submit" role="button">Trump It!</a></p>
            </form>
    
        </div>

    <div class="container">
 
        <div class="row marketing">

            <div class="col-lg-6 col-xs-6">
                <h3>Make Donald Trump say anything you want. </h3>
                <p>Nearly anything, anyway.</p> 
            </div>


            
            <div class="col-lg-6 col-xs-6">
                <h3>Express Yourself, Bigly</h3>
                <p>Channel your inner Cassetteboy. Be creative. </p>
 
            </div>
 
        </div>
    </div>
 
        <footer class="footer">
            <p>&copy; Clear Your History 2017</p>
        </footer>
 
</body>
 
</html>